<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="success-page">


  <h1 class="title">O seu pedido foi confirmado</h1>
  <p class="subtitle">Vai ser entregue em 15 min</p>

  <div class="image-container">
    <img src="assets/check.png" alt="Check" />
  </div>
  <div>
<ion-button class="btn-confirmar" expand="block">
  Guardar Fatura
  <ion-icon name="download-outline" slot="end" class="bold-icon"></ion-icon>
</ion-button>

  <ion-button class="btn-voltar" expand="block">Voltar á Paguina Inicial</ion-button>
  </div>
</ion-content>

